PACKAGE_ROOT_glm[config=Debug][arch=arm64][sdk=macosx*] = /Users/bewa/.conan2/p/glmb8583f8d3b716/p
// Compiler options for glm::glm
SYSTEM_HEADER_SEARCH_PATHS_glm_glm[config=Debug][arch=arm64][sdk=macosx*] = "/Users/bewa/.conan2/p/glmb8583f8d3b716/p/include"
GCC_PREPROCESSOR_DEFINITIONS_glm_glm[config=Debug][arch=arm64][sdk=macosx*] = 
OTHER_CFLAGS_glm_glm[config=Debug][arch=arm64][sdk=macosx*] = 
OTHER_CPLUSPLUSFLAGS_glm_glm[config=Debug][arch=arm64][sdk=macosx*] = 
FRAMEWORK_SEARCH_PATHS_glm_glm[config=Debug][arch=arm64][sdk=macosx*] = 

// Link options for glm::glm
LIBRARY_SEARCH_PATHS_glm_glm[config=Debug][arch=arm64][sdk=macosx*] = 
OTHER_LDFLAGS_glm_glm[config=Debug][arch=arm64][sdk=macosx*] =    