PACKAGE_ROOT_zlib[config=Debug][arch=arm64][sdk=macosx*] = /Users/bewa/.conan2/p/b/zlib5ef49c586742d/p
// Compiler options for zlib::zlib
SYSTEM_HEADER_SEARCH_PATHS_zlib_zlib[config=Debug][arch=arm64][sdk=macosx*] = 
GCC_PREPROCESSOR_DEFINITIONS_zlib_zlib[config=Debug][arch=arm64][sdk=macosx*] = 
OTHER_CFLAGS_zlib_zlib[config=Debug][arch=arm64][sdk=macosx*] = 
OTHER_CPLUSPLUSFLAGS_zlib_zlib[config=Debug][arch=arm64][sdk=macosx*] = 
FRAMEWORK_SEARCH_PATHS_zlib_zlib[config=Debug][arch=arm64][sdk=macosx*] = 

// Link options for zlib::zlib
LIBRARY_SEARCH_PATHS_zlib_zlib[config=Debug][arch=arm64][sdk=macosx*] = "/Users/bewa/.conan2/p/b/zlib5ef49c586742d/p/lib"
OTHER_LDFLAGS_zlib_zlib[config=Debug][arch=arm64][sdk=macosx*] =  -lz  