PACKAGE_ROOT_brotli[config=Debug][arch=arm64][sdk=macosx*] = /Users/bewa/.conan2/p/b/brotl15a734345b9f7/p
// Compiler options for brotli::brotlienc
SYSTEM_HEADER_SEARCH_PATHS_brotli_brotlienc[config=Debug][arch=arm64][sdk=macosx*] = 
GCC_PREPROCESSOR_DEFINITIONS_brotli_brotlienc[config=Debug][arch=arm64][sdk=macosx*] = 
OTHER_CFLAGS_brotli_brotlienc[config=Debug][arch=arm64][sdk=macosx*] = 
OTHER_CPLUSPLUSFLAGS_brotli_brotlienc[config=Debug][arch=arm64][sdk=macosx*] = 
FRAMEWORK_SEARCH_PATHS_brotli_brotlienc[config=Debug][arch=arm64][sdk=macosx*] = 

// Link options for brotli::brotlienc
LIBRARY_SEARCH_PATHS_brotli_brotlienc[config=Debug][arch=arm64][sdk=macosx*] = "/Users/bewa/.conan2/p/b/brotl15a734345b9f7/p/lib"
OTHER_LDFLAGS_brotli_brotlienc[config=Debug][arch=arm64][sdk=macosx*] =  -lbrotlienc-static -lbrotlicommon-static  